<div class="footer">
  <div class="container">
    <div class="pull-left">
      Jombay &copy; 2016
    </div>
    <div class="pull-right">
      <a title="Jombay's Terms, Policies" target="_blank" href="/terms-and-conditions/">
        Jombay's Terms, Policies
      </a>
    </div>
  </div>
</div>