<div id="header">
  <div class="container">
    <div class="logo pull-left">
      <a target="_blank" href="/"> 
        <img src=<%= assetPath("jombay-logo.png") %> />
      </a>
      <div class="divider1"></div>  
    </div>
    <div class="clr"></div>
  </div>

</div>